<!--The content below is only a placeholder and can be replaced.-->
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<div class='navbar navbar-inverse'>
  <div class='navbar-inner nav-collapse' style="height: auto;">
    <ul class="nav">
      <li ><a routerLink="/poids" routerLinkActive="active">Convertisseur Poids</a></li>
      <li><a routerLink="/distances" routerLinkActive="active">Convertisseur Distances</a></li>
      <li><a routerLink="/temperatures" routerLinkActive="active">Convertisseur Températures</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
