<body>
        <div style="text-align:center">
           <h1 style="text-align:center;">
                   Convertisseur Distances
                </h1>
                <input type="text" name="metre" (keyup)="convertir($event)"> <label>Metre</label>   = <input type="text"  name="metre" value="{{distances}}"> <label>Pieds</label>
                <p>Combien de pieds forment un mètre ? Et si monsieur Untel mesure 1 m 95, combien cela représente-t-il de pieds ? Le calcul en mètres ou en pieds, via notre convertisseur, s'effectue instantanément. Indiquez un chiffre dans l'un des champs et la conversion apparaît automatiquement dans l'autre champ.

                        Dès l'Antiquité, l'être humain a éprouvé la nécessité de calculer les distances. D'abord en prenant pour repère l'itinéraire solaire, ensuite en se servant de son propre corps comme instrument de mesure. Le pas, la main, le pouce, la portée visuelle… Partout en Europe, l'on adopta les unités corporelles pour définir les distances. Coudée, aune, toise, pied, pouce, main, etc., ne déterminaient pas de manière exacte, cependant, les distances.
                        
                        Si l'on tient compte que cette méthode était fort hasardeuse, puisque différente selon l'individu qui l'appliquait, on comprend qu'il ait fallu attendre l'instauration de standards spécifiques avant de parler véritablement de système de mesures. C'est vers 1790 que l'on décide en France de déterminer scientifiquement tout un système de poids et mesures, selon les résultats de recherches effectuées par des géomètres de renom. C'est ainsi qu'un premier mètre fit son entrée en scène, en 1795, sur le continent européen.</p>
              </div>

              
              

</body>