

<!------ Include the above in your HEAD tag ---------->


<body>
  <div style="text-align:center">
          <h1 style="text-align:center;">
             Convertisseur Poids
          </h1>
          
          <input type="text" name="temperature" (keyup)="convertir($event)"> <label>Celsius</label>   = <input type="text" name="temperature" value="{{temperatures}}"> <label>Fahrenheit</label>
          
          <p>Autrefois, en fonction de la température du corps, exposée à une température extérieure, on évaluait le froid ressenti ou la chaleur ressentie sur une échelle spéculative. Puis il y eut les thermomètres… Et aujourd'hui, pour convertir les Celsius en Fahrenheit, un simple clic de souris suffit...

            C'est à Daniel Gabriel Fahrenheit que l'on doit l'invention des thermomètres en graduation Fahrenheit. Au début, ses thermomètres sont à l'alcool (1709), mais il remplace rapidement l'alcool par du mercure (1715), permettant à ses outils de mesure de fournir des données comparables. En 1742, un autre scientifique propose une nouvelle graduation au thermomètre. Anders Celsius crée une échelle thermométrique où ses degrés représentent C =[5°F - (5 x 32)]/9.
            
            Plusieurs propriétés thermométriques peuvent entrer dans l'établissement d'une échelle de température. Il s'agit de variations spécifiques, soit du volume d'un liquide, de la longueur d'un solide, d'une résistance électrique d'un conducteur, le volume d'un gaz sous pression constante, la pression d'un gaz à volume constant, la couleur d'un corps extrêmement chaud. Toutes ses variations nous indiquent de façon fiable le degré de froid ou de chaud auquel nous sommes exposés.</p>
        </div>
        <div>
           </div>

</body>
